:root {
  --font-size: 1.6rem;
  --font-2: "Epilogue";
  --font-1: "Barlow Semi Condensed";

  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}
body {
  position: relative;
}
.body-container {
  display: grid;
  grid-template: "main" 1fr "footer" auto / 1fr;
  font-size: var(--font-size);
  font-family: var(--font-1);
  font-weight: 500;
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100dvh;
  container: testimonial / inline-size;
}
.testimonial-container {
  & .user-header {
    z-index: 2;
  }
}
main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 2rem;
}
footer {
  grid-area: footer;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
}
.testimonial-container {
  position: relative;
  width: min(100% - 4rem, 120rem);
  display: grid;
  gap: 2rem;
  > :nth-child(1) {
    background-color: var(--purple-500);
    .user-header,
    .user-name {
      color: var(--grey-100);
    }
    blockquote,
    .user-status {
      color: var(--grey-200);
    }
  }
  > :nth-child(2) {
    background-color: var(--grey-500);
    .user-header,
    .user-name {
      color: var(--grey-100);
    }
    blockquote,
    .user-status {
      color: var(--grey-200);
    }
  }
  > :nth-child(3) {
    background-color: var(--white);
    .user-header,
    .user-name {
      color: var(--grey-500);
    }
    blockquote,
    .user-status {
      color: var(--grey-400);
    }
  }
  > :nth-child(4) {
    background-color: var(--dark-blue);
    .user-header,
    .user-name {
      color: var(--grey-100);
    }
    blockquote,
    .user-status {
      color: var(--grey-200);
    }
  }
  > :nth-child(5) {
    background-color: var(--white);
    .user-header,
    .user-name {
      color: var(--grey-500);
    }
    blockquote,
    .user-status {
      color: var(--grey-400);
    }
  }
}

@container testimonial (width > 50rem) and (width < 90rem) {
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    > :nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    > :nth-child(2) {
      grid-column: 3 / -1;
      grid-row: 1 / 2;
    }
    > :nth-child(3) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    > :nth-child(4) {
      grid-row: 2 / 3;
      grid-column: 2 / -1;
    }
    > :nth-child(5) {
      grid-row: 3 / -1;
      grid-column: 1 / -1;
    }
  }
}

@container testimonial (width >= 90rem) {
  .testimonial-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: min-content;
    > :nth-child(1) {
      grid-column: 1 / 3;
    }
    > :nth-child(2) {
      grid-column: 3 / 4;
    }
    > :nth-child(3) {
      grid-row: 2 / -1;
      grid-column: 1 / 2;
    }
    > :nth-child(4) {
      grid-row: 2 / -1;
      grid-column: 2 / 4;
    }
    > :nth-child(5) {
      grid-row: 1 / -1;
      grid-column: 4 / -1;
    }
  }
}

.user {
  position: relative;
  --card-radius: 10px;
  box-shadow: var(--grey-200) 0px 7px 29px 0px;
  display: grid;
  gap: 1rem;
  border-radius: var(--card-radius);
  padding: 2em;
  .user-profile {
    z-index: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.5rem;
    figure {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 2px solid var(--purple-500);
      overflow: hidden;
    }
    .user-name {
      font-size: 2rem;
      font-weight: 500;
      position: relative;
    }
  }
}
.user-w-b {
  z-index: 2;
}
.user-w-b .user-profile::after {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10rem;
  width: 10rem;
  background-image: url(../img/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  top: 0;
  right: 7rem;
  z-index: 1;
  opacity: 0.8;
}
.user-testimonial::before {
  content: "“";
  display: inline-block;
  margin-right: 0.5rem;
}
.user-testimonial::after {
  content: "”";
  display: inline-block;
  margin-left: 0.5rem;
}

